html,
body {
    margin: 0;
}

body {
    --primary-bg: #1d1e20;
    --primary-text: #ebebeb;
    --secondary-bg: #3d3e40;
    --secondary-text: #a4a4a4;
}

body {
    font-family: system-ui, sans-serif;
    color: var(--primary-text);
    background-color: var(--primary-bg);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
h1,
main {
    width: calc(100% - 32px);
    max-width: 860px;
    margin: 1em auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
}

header a,
header button {
    display: inline;
    background: transparent;
    color: var(--primary-text);
    text-decoration: none;
    padding: 0.5em 0;
}

header a:hover,
header button:hover {
    text-decoration: underline;
}


h1 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    line-height: 1.4em;
}

main {
    margin-bottom: 3em;
}

.post {
    margin-bottom: 2.5em;
    word-break: break-word;
}

.post .post-time {
    font-size: 14px;
    color: var(--secondary-text);
    margin-bottom: -.5em;
}

.post .post-time a {
    color: var(--secondary-text);
    text-decoration: none;
    
}

.post .post-time a:hover {
    text-decoration: underline;
    
}

@media only screen and (min-width: 760px) {
    .post {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .post-time {
        flex-grow: 0;
        flex-shrink: 0;
        width: 134px;
    }
    .post-content {
        width: 0;
        flex-shrink: 1;
        flex-grow: 1;
    }
    .post-content :first-child {
        margin-top: 0;
    }
}