{{define "head"}}
<head>
	<meta charset="utf-8">
	<title>the current</title>
    <link rel=icon href="/s/favicon.ico">
    <link rel=icon type=image/png sizes=16x16 href=/s/favicon-16x16.png>
    <link rel=icon type=image/png sizes=32x32 href=/s/favicon-32x32.png>
    <link rel=apple-touch-icon href=/s/apple-touch-icon.png>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/s/css/main.css">

    <link rel=alternate type=application/rss+xml href=/index.xml>
    <link rel=alternate type=application/json href=/index.json>
    <link rel=alternate type="application/atom+xml" href="/current.atom">
</head>
{{end}}

{{define "header"}}
<header>
    <a href="/" class="logo" accesskey="h">the current</a>
    <nav>
        <a href="/index.xml" class="subtle">rss</a>
        <a href="/current.atom" class="subtle">atom</a>
        <a href="/about" accesskey="a">about</a>
        <a href="https://aghdom.eu">home</a>
    </nav>
</header>
{{end}}

{{define "search"}}
<form class="search" action="/" method="get">
    <input type="text" name="q"
        placeholder="Search the current..."
        accesskey="s"
        required autofocus />
</form>
{{end}}


{{define "footer"}}
<footer>
</footer>
{{end}}