{{define "head"}}
<head>
	<meta charset="utf-8">
	<title>current</title>
    <meta name="description" content="my personal micro-blog">
    <link rel=icon href="/s/favicon.ico">
    <link rel=icon type=image/png sizes=16x16 href=/s/favicon-16x16.png>
    <link rel=icon type=image/png sizes=32x32 href=/s/favicon-32x32.png>
    <link rel=apple-touch-icon href=/s/apple-touch-icon.png>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/s/css/current.css">
	<link rel="stylesheet" href="/s/css/style.css">

    <link rel=alternate type=application/rss+xml href=/index.xml>
    <link rel=alternate type=application/json href=/index.json>
    <link rel=alternate type="application/atom+xml" href="/current.atom">

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://current.aghdom.eu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="🌊 current">
    <meta property="og:description" content="my personal micro-blog">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="current.aghdom.eu">
    <meta property="twitter:url" content="https://current.aghdom.eu">
    <meta name="twitter:title" content="🌊 current">
    <meta name="twitter:description" content="my personal micro-blog">

</head>
{{end}}

{{define "header"}}
<header>
    <a href="https://aghdom.eu" class="logo">aghdom</a>
    <nav>
        <a href="/about" accesskey="a">about</a>
        <a href="/"  accesskey="h">home</a>
    </nav>
</header>
{{end}}

{{define "search"}}
<form class="search" action="/" method="get">
    <input type="text" name="q"
        placeholder="Search the current..."
        accesskey="s"
        required autofocus />
</form>
{{end}}


{{define "footer"}}
<footer class="subtle">
    <div>created by <a href="https://aghdom.eu">aghdom</a></div>
    <div class="divider"> | </div>
    <nav>
        <a href="/index.xml">rss</a>
        <a href="/current.atom">atom</a>
    </nav>
</footer>
{{end}}


{{define "bubbles"}}
<style>
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
    }
</style>
<canvas></canvas>
<script>
    // Bubbles stolen from https://todepond.com
    const canvas = document.querySelector("canvas");
    const context = canvas.getContext("2d");
    
    document.body.onresize = () => {
    canvas.width = window.innerWidth * devicePixelRatio;
    canvas.height = window.innerHeight * devicePixelRatio;
    };
    
    document.body.onresize();
    
    const bubbles = [];
    
    const draw = () => {
    context.clearRect(0, 0, canvas.width, canvas.height);
    context.strokeStyle = "#3d3e40";
    context.lineWidth = 2;
    for (const raindrop of bubbles) {
    context.beginPath();
    context.arc(raindrop.x, raindrop.y, raindrop.size, 0, Math.PI * 2, false);
    context.stroke();
    }
    };
    
    const update = (delta) => {
    if (Math.random() < delta * 0.5) {
    const size = 25 + Math.random() * 50;
    bubbles.push({
        x: Math.random() * canvas.width,
        y: canvas.height + size,
        size,
        speed: 50 + Math.random() * 50,
    });
    }
    
    for (let i = 0; i < bubbles.length; i++) {
    const bubble = bubbles[i];
    bubble.y -= bubble.speed * delta;
    if (bubble.y < -bubble.size) {
        bubbles.splice(i, 1);
        i--;
    }
    }
    };
    
    let lastTime = 0;
    const loop = (time) => {
    const delta = (time - lastTime) / 1000;
    lastTime = time;
    update(delta);
    draw();
    requestAnimationFrame(loop);
    };
    
    loop();
</script>
{{end}}