{{define "index"}}
<html>
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <div class="heading">
        {{if .Title}}
            <h1>{{.Title}}</h1>
        {{end}}
        {{if .SubTitle}}
            <h3>{{.SubTitle}}</h3>
        {{end}}
        </div>
        <main>
        {{if .Search}}
            {{template "search" .}}
        {{end}}
        <div class="feed">
        {{range .Feed}}
            <div class="post">
                <div class="post-time">
                    <a class="date" href="/on/{{.Date}}" title="Posts on this date">{{.Date}}</a>
                    <a class="time" href="/posts/{{.Unix}}" title="Link to this post">{{.Time}}</a>
                </div>
                <div class="post-content">
                    {{.Content}}
                </div>
            </div>
        {{end}}
        </div>
        <div class="pagination">
            {{if .PrevPage}}
                <a href="/?p={{.PrevPage}}" title="Previous page" accesskey="p">prev</a>
            {{end}}
            {{if .NextPage}}
                <a href="/?p={{.NextPage}}" title="Next page" accesskey="n">next</a>
            {{end}}
        </div>
        </main>
        {{template "footer" .}}
    </body>
</html>
{{end}}